.carousel-img {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100vw;
}

.carousel_class:hover {
  background-color: black;
}

.carousel-container {
  position: relative;
  text-align: center;
  color: white;
}

.carousel-property-detail {
  position: absolute;
  top: 60%;
  left: 20%;
  color: white;
  transform: translate(-50%, -50%);
}
